@model List<SharedObjects.ValueObjects.VEvent>
@section SlimPageHeader{
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Event</li>
        </ol>
        <h6 class="slim-pagetitle">Event</h6>
    </div><!-- slim-pageheader -->
}

<div class="section-wrapper">
    <label class="section-title">Event</label>
    <div>
        <a asp-controller="event" asp-action="add" class="btn btn-teal mg-b-20 pd-x-10">Add Event</a>
    </div>

    <div class="table-wrapper">
        <table id="datatable2" class="table display responsive nowrap">
            <thead>
                <tr>
                    <th class="wd-15p">Event Name</th>
                    <th class="wd-15p">Event Status</th>
                    <th class="wd-25p">Time Start</th>
                    <th class="wd-25p">Time End</th>
                    <th class="wd-25p">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        @if (item.EventStatus.ToString() == "Finished")
                        {
                            <td class="text-danger">@item.EventName</td>
                            <td class="text-danger">@item.EventStatus</td>
                            <td class="text-danger">@item.TimeStart</td>
                            <td class="text-danger">@item.TimeEnd</td>
                        }
                        else
                        {
                            <td>@item.EventName</td>
                            <td>@item.EventStatus</td>
                            <td>@item.TimeStart</td>
                            @if(@item.TimeEnd < DateTime.Now)
                            {
                                <td class="text-danger">@item.TimeEnd</td>
                            }
                            else{
                                <td>@item.TimeEnd</td>
                            }
                            }
                        <th>
                            <a href="@Url.Action("update", "event", new{id= @item.EventId})">Edit</a>  |
                            <a href="@Url.Action("delete", "event", new{id= @item.EventId})">Delete</a> 
                        </th>
                    </tr>


                }
            </tbody>
        </table>
    </div><!-- table-wrapper -->
</div>
@section Scripts{
    <script src="~/assets/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/assets/lib/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/js/load_table.js"></script>
    <script>
        $(document).ready(function(){
            if("@TempData["Success"]"!=null){
                bootbox.alert({
                    message: "@TempData["Success"]"
                });
            }
        });
    </script>
}