@using DataAccessLayer.Entities
@model List<ApplicationUser>
@section SlimPageHeader{
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">User</li>
        </ol>
        <h6 class="slim-pagetitle">User</h6>
    </div><!-- slim-pageheader -->
}
<div class="section-wrapper">
    <label class="section-title">All Users</label>
    <a asp-controller="auth" asp-action="add" class="btn-success btn text-light mb-3">Add</a>
    <div class="table-wrapper">
        <table id="datatable2" class="table display responsive nowrap">
            <thead>
                <tr>
                    <th class="wd-15p">UserName</th>
                    <th class="wd-15p">FirstName</th>
                    <th class="wd-15p">LastName</th>
                    <th class="wd-15p">Gender</th>
                    <th class="wd-15p">Country</th>
                    <th class="wd-15p">Email</th>
                    <th class="wd-15p">PhoneNumber</th>
                    <th class="wd-25p">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-danger">
                        <td>@item.UserName</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Gender</td>
                        <td>@item.Country</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <th>
                            <a href="@Url.Action("update", "auth", new{id= @item.Id})">Edit</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- table-wrapper -->
</div>

@section Scripts{
    <script src="~/assets/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/assets/lib/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/js/load_table.js"></script>
}