@using DataAccessLayer.Entities
@model ApplicationUser;

<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile Page</li>
    </ol>
    <h6 class="slim-pagetitle">My Profile</h6>
</div><!-- slim-pageheader -->

<div class="row row-sm">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card card-profile">
            <div class="card-body p-5">
                <div class="media">
                    <div class="media-body">
                        <h3 class="card-profile-name">@Model.FirstName @Model.LastName</h3>
                        <p class="card-profile-position">Email: <a href="mailto: @Model.Email">@Model.Email</a></p>
                        Birthday: <input style="background: none; border: none; margin: 15px 0px;" disabled="disabled" type="date" asp-for="@Model.BirtthDay" />
                        <p>Username: @Model.UserName</p>
                        <p>Country: @Model.Country</p>
                        <p>Gender: @Model.Gender</p>
                        <p>Phone: @Model.PhoneNumber</p>
                    </div><!-- media-body -->
                </div><!-- media -->
            </div><!-- card-body -->
        </div><!-- card -->
    </div><!-- col-6 -->
    <div class="col-lg-3"></div>
</div><!-- row -->