@model dynamic
@{
    ViewData["Title"] = "Event detail";
}

<div>
    <div class="event-detail-container">
        <div class="event-detail">
            <div class="event-detail-contain">
                <h2 class="event-detail-title">@Model.BluePumpkinEvent.Title.ToUpper()</h2>
               <div class="event-detail-time">
                    <h6>Start date: @Model.BluePumpkinEvent.TimeStart</h6>
                    <h6>End date: @Model.BluePumpkinEvent.TimeEnd</h6>
               </div>
                @if (Model.BluePumpkinEvent.ImgUrl != null)
                {
                    <img src="@Model.BluePumpkinEvent.ImgUrl" class="img-fluid" alt="Responsive image">
                }
                else
                {
                    <img src="https://wallpapercave.com/wp/wp2349409.jpg" class="img-fluid" alt="Responsive image">
                }
                <p class="event-deatail-sub">@Model.BluePumpkinEvent.Content</p>
            </div>
        </div>
        <div class="event-detail-user">
            <div class="event-user-joined">
                <h5 class="event-user-joined-title">Joined</h5>
                <div class="event-user-joined-list">
                    @{
                        foreach (var joinEvent in Model.Joinevents)
                        {
                            if (@joinEvent.EventId == @Model.BluePumpkinEvent.EventId)
                            {
                                <h6>@joinEvent.UserName</h6>
                            }

                        }
                    }
                    <h6>UserName</h6>
                </div>
            </div>
        </div>
    </div>
</div>