@model dynamic
@{
    ViewData["Title"] = "Event detail";
    var ImgUrl = "https://localhost:44366/" + @Model.BluePumpkinEvent.ImgUrl;
}

<div>
    <div class="row">
        <div class="col-9">
            <div class="box-event-detail">
                <h2>@Model.BluePumpkinEvent.Title.ToUpper()</h2><br />
                <h6>Start date: @Model.BluePumpkinEvent.TimeStart</h6>
                <h6>End date: @Model.BluePumpkinEvent.TimeEnd</h6>
                @if (Model.BluePumpkinEvent.ImgUrl != null)
                {
                    <img src="@ImgUrl" class="img-fluid" alt="Responsive image">
                }
                else
                {
                    <img src="https://wallpapercave.com/wp/wp2349409.jpg" class="img-fluid" alt="Responsive image">

                    <br />
                }
                <p>@Model.BluePumpkinEvent.Content</p>
            </div>
        </div>
        <div class="col-3">
            <div class="box-event-joined">
                <h5>Joined</h5>
                @{
                    foreach (var joinEvent in Model.Joinevents)
                    {
                        if (@joinEvent.EventId == @Model.BluePumpkinEvent.EventId)
                        {
                            <h6>@joinEvent.UserName</h6>
                        }

                    }
                }
            </div>
        </div>
    </div>
</div>