@model List<SharedObjects.ValueObjects.VJoinEvent>

@section Scripts{
<script src="~/js/prize_distribution.js"></script>
<script src="~/assets/lib/datatables/js/jquery.dataTables.js"></script>
<script src="~/assets/lib/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="~/js/load_table.js"></script>
<script src="~/js/delete_joinevent.js"></script>
<script>
    $(document).ready(function(){
        $('body').off('click','#active').on('click', '#active', Active);
        function Active(){
            var model = new Object();
            var id = $(this).data('id');
            model.joinEventId = $('#id-' + id ).text();
            model.joinEventStatus = 3;
            model.eventId = $('#event-id-' + id ).text();
            model.userId = $('#user-id-' + id ).text();
            model.description = $('#desc-' + id ).text();
            model.createdBy = $('#created-by-' + id ).text();
            console.log(model)
            $.ajax({
                type: 'post',
                url: '/joinevent/Update',
                dataType: 'json',
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    var data = response.result;
                    if (data.statusCode == 200) {
                        bootbox.alert({
                            message: "Active success",
                            callback: function () {
                                window.location.reload()
                            }
                        })
                    } else if (data.statusCode == 401) {
                        bootbox.alert({
                            message: "You don't have permission to active",
                            size: 'large'
                        })
                    } else {
                        bootbox.alert({
                            message: "Error! Can not active!",
                            size: 'large'
                        })
                    }
                },
                error: function (result) {
                    console.log("Lỗi");
                }
            });
        }
    })
</script>
}
@section SlimPageHeader{
<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Join Event</li>
    </ol>
    <h6 class="slim-pagetitle">Accept user join event</h6>
</div><!-- slim-pageheader -->
}
<div class="section-wrapper">
    <label class="section-title">Join Event</label>
    <p class="mg-b-20 mg-sm-b-20">Accept user join event</p>
    <div>
        <a asp-controller="joinevent" asp-action="add" class="btn btn-success mg-b-10  pd-x-10">Add</a>
        <a style="position: relative; padding-right:30px; margin-right" asp-controller="joinevent" asp-action="active" class="btn btn-secondary mg-b-10 pd-x-10">Active
            <span style="margin-left: 10px;color: red; background: #00FFFF; padding: 5px 5px; border-radius: 50%; position: absolute"></span>
        </a>
    </div>
    <div class="float-right">
        <a asp-controller="joinevent" asp-action="index" class="btn btn-teal mg-b-10  pd-x-10">List</a>
        <a asp-controller="joinevent" asp-action="winner" class="btn btn-info mg-b-10 pd-x-10">List Winner</a>
    </div>

    <div class="table-wrapper">
        <table id="datatable2" class="table display responsive nowrap">
            <thead>
                <tr>
                    <th class="wd-25p">Event Name</th>
                    <th class="wd-10p">Username</th>
                    <th class="wd-15p">Description</th>
                    <th class="wd-15p">Created by</th>
                    <th class="wd-15p">Status</th>
                    <th class="wd-25p">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.JoinEventStatus == SharedObjects.Commons.JoinEventStatus.Peding)
                    {
                        <tr>
                            <td>@item.EventName</td>
                            <td>@item.UserName</td>
                            <td>@item.Description</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.JoinEventStatus</td>
                            <th>
                                <p id="id-@item.JoinEventId" hidden="hidden">@item.JoinEventId</p>
                                <p id="event-id-@item.JoinEventId" hidden="hidden">@item.EventId</p>
                                <p id="user-id-@item.JoinEventId" hidden="hidden">@item.UserId</p>
                                <p id="desc-@item.JoinEventId" hidden="hidden">@item.Description</p>
                                <p id="created-by-@item.JoinEventId" hidden="hidden">@item.CreatedBy</p>
                                <a style="cursor: pointer; color: orange;" data-id="@item.JoinEventId" id="active">Active</a>
                            </th>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div><!-- table-wrapper -->
</div>