@model List<SharedObjects.ValueObjects.VJoinEvent>

@section Scripts{
<script src="~/js/prize_distribution.js"></script>
<script src="~/assets/lib/datatables/js/jquery.dataTables.js"></script>
<script src="~/assets/lib/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="~/js/load_table.js"></script>
<script src="~/js/delete_joinevent.js"></script>
}
@section SlimPageHeader{
<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Join Event</li>
    </ol>
    <h6 class="slim-pagetitle">List user join events</h6>
</div><!-- slim-pageheader -->
}
<div class="section-wrapper">
    <label class="section-title">Join Event</label>
    <p class="mg-b-20 mg-sm-b-20">List user in events</p>
    <div>
        <a asp-controller="joinevent" asp-action="add" class="btn btn-teal mg-b-10  pd-x-10">Add</a>
        <a asp-controller="joinevent" asp-action="active" class="btn btn-warning mg-b-10 pd-x-10">Active</a>
        <a asp-controller="joinevent" asp-action="winner" class="btn btn-info mg-b-10 pd-x-10">List Winner</a>
    </div>

    <div class="table-wrapper">
        <table id="datatable2" class="table display responsive nowrap">
            <thead>
                <tr>
                    <th class="wd-25p">Event Name</th>
                    <th class="wd-10p">Username</th>
                    <th class="wd-15p">Description</th>
                    <th class="wd-15p">Created by</th>
                    <th class="wd-15p">Status</th>
                    <th class="wd-25p">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.JoinEventStatus == SharedObjects.Commons.JoinEventStatus.Peding)
                    {
                        <tr>
                            <td>@item.EventName</td>
                            <td>@item.UserName</td>
                            <td>@item.Description</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.JoinEventStatus</td>
                            <th>
                                <a id="distribution" data-toggle="modal" data-target="#addprize" data-id="@item.JoinEventId" data-eventid="@item.EventId" href="#">Sent prize</a>
                            </th>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div><!-- table-wrapper -->
</div>
<div id="addprize" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
            <div class="modal-body pd-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 bg-primary">
                        <div class="pd-40">
                            <h1 class="tx-white mg-b-20">BluePumpkin</h1>
                            <p class="tx-white op-7 mg-b-30">Each event has several prizes, the winner of the event will receive a prize corresponding to that event.</p>
                            <p class="tx-white">
                                <span class="tx-uppercase tx-medium d-block mg-b-15">Our Address:</span>
                                <span class="op-7">38 Yen Bai, Hai Chau, Da Nang, Viet Nam</span>
                            </p>
                        </div>
                    </div><!-- col-6 -->
                    <div class="col-lg-6 bg-white">
                        <div class="pd-y-30 pd-xl-x-30">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="pd-x-30 pd-y-10">
                                <h3 class="tx-gray-800 tx-normal mg-b-5">Welcome back!</h3>
                                <p>Distribution</p>
                                <br>
                                <div class="form-group">
                                    <select id="status" class="form-control">
                                        <option value="0">InActive</option>
                                        <option value="1">Active</option>
                                    </select>
                                </div><!-- form-group -->
                                <div class="form-group">
                                    <select id="prizes" class="form-control"></select>
                                </div><!-- form-group -->
                                <div class="form-group">
                                    <input id="ranking" type="number" name="ranking" class="form-control pd-y-12" placeholder="Ranking">
                                </div><!-- form-group -->
                                <div class="form-group">
                                    <input id="amount" type="number" name="amount" class="form-control pd-y-12" placeholder="Amount">
                                </div><!-- form-group -->
                                <input id="createdBy" hidden="hidden" value="@User.Identity.Name" />

                                <button id="add" class="btn btn-primary pd-y-12 btn-block">Save</button>

                                <div class="mg-t-30 mg-b-20">Don't have an account yet? <a href="">Sign Up</a></div>
                            </div>
                        </div><!-- pd-20 -->
                    </div><!-- col-6 -->
                </div><!-- row -->
            </div><!-- modal-body -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->